@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">DotDigital API Coding Challenge</h1>
    <br />
    <br />
    <br />
    <img src="~/assets/DotDigitalImage.png" alt="DotDigital Image"/>
</div>
