@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">DotDigital API Coding Challenge</h1>
</div>

<form asp-controller="Home" asp-action="CreateContacts" method="post">
    <button type="submit">Press me</button>
</form>
