<form asp-controller="Contact" asp-action="CreateContacts" method="post">
    <div class="form-group">
        <label>Please specify the path of contact csv.</label>
        <input class="form-control" type="text" name="filePath" required />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>